{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-green-200 min-h-screen flex items-center">
 
  <div class="bg-white p-10 md:w-2/3 lg:w-1/2 mx-auto rounded">
    <h3 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-400 md:text-3xl lg:text-3xl dark:text-white">Регистрация</h3>
    
      <form method="post" action=".">
        {% csrf_token %}

          <div class="flex items-center mb-5">
              <label for="name" class="w-20 inline-block text-right mr-4 text-gray-500 text-gray-500">Логин</label>
              <input name="username" id="username" type="text" placeholder="Логин" class="border-b-2 border-gray-400 flex-1 py-2 placeholder-gray-300 outline-none focus:border-green-400" required>
          </div>

          <div class="flex items-center mb-5">
            <label for="email" class="w-20 inline-block text-right mr-4 text-gray-500 text-gray-500">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" class="border-b-2 border-gray-400 flex-1 py-2 placeholder-gray-300 outline-none focus:border-green-400" required>
          </div>

          <div class="flex items-center mb-10">
              <label for="twitter" class="w-20 inline-block text-right mr-4 text-gray-500 text-gray-500">Пароль</label>
              <input type="password" name="password1" id="password1" placeholder="Пароль" class="border-b-2 border-gray-400 flex-1 py-2 placeholder-gray-300 outline-none focus:border-green-400" required>
          </div>

          <div class="flex items-center mb-10">
            <label for="twitter" class="w-20 inline-block text-right mr-4 text-gray-500 text-gray-500">Пароль</label>
            <input type="password" name="password2" id="password2" placeholder="Повтор пароля" class="border-b-2 border-gray-400 flex-1 py-2 placeholder-gray-300 outline-none focus:border-green-400" required>
          </div>

          <div class="text-right">
              <input type="submit" class="py-3 px-8 bg-green-500 text-green-100 font-bold rounded" value="Отправить">
          </div>
          <a class="text-blue-500" href='{% url "login" %}'>Войти</a>

          {% if form.non_field_errors %}
            <p>{{form.non_field_errors }}</p>
          {% endif %}
      </form>
      
  </div>
</div>

{% endblock content %}